body {
    font-family: Arial;
    padding: 20px;
}




input {
    padding: 8px;
    width: 200px;
}



button {
    padding: 8px 12px;
    margin-left: 5px;
    margin-right: 0cqb;
}
