img {
    width: 800px;
    height: fit-content;
    cursor: pointer;
    border-radius: 10px;
}

body {
    font-family: Arial;
    padding: 30px;
    background-size: cover;
    /* background-position: center;
    height: 100vh; */
}


